@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0px;
    margin: 0px;
   
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #E4F9F5;
    margin:auto;
    padding: 20px;
}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 40%;
    float: left;
}
.header-bio{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5{
    color: #11999e;
}
.heder-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.heder-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.heder-contact{
    float: right;
    padding: 30px;
}
.clear-div{
    clear: both;
}
hr{
    border: 3px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}




/* perosnla section start */
.content{
    margin-bottom: 0px;
}

.left-div{
    width: 30%;
    float: left;
}
.right-div{
    width: 70%;
    float: left;
}
.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
    
}